## FIT5120: IE Studio

Team TA18

EPIC2 US2.1 Air quality
Author: Mandeep

In [1]:
import os
import pandas as pd
import numpy as np

import datetime
from datetime import date

import re

In [2]:
data_path = os.getcwd() + '/epic2/2.1/'

In [3]:
def extract_state_aq_data(dir_path, state='vic'):
    '''
    method to extract state air quality data from the monitoring sites
    '''
    data_path = dir_path + '/' + state
    if os.path.isdir(data_path):
        list_files = []
        for x in os.listdir(data_path):
            if (x[-5:] == ".xlsx") or (x[-4:] in {".txt", ".csv"}):
                list_files.append(x)
    else:
        print(data_path, " is not a directory path")

    list_df = []
    for path in list_files:
        if path[-5:] == '.xlsx':
            info = path[-11:-5]
            df = pd.read_excel(open(data_path + "/" + path, 'rb'))
        else:
            info = path[-10:-4]
            if path[-4:] == ".csv":
                if state == 'qld':
#                     print(path)
                    info = re.search(r'\b([\da-z\_]+)_air', path).group(1)
                df = pd.read_csv(data_path + "/" + path)
            
        list_df.append({"info": info,
                        "df": df})
        
    return list_df

In [4]:
# set of AUS states
set_aus_states = {"act", "qld", "nsw", "nt", "sa", "vic", "tas"}

# dict of df for all states
dict_df_all_states = {}

for state in set_aus_states:
    
    if state == 'vic':
        dict_df_all_states[state] = extract_state_aq_data(data_path, state)

In [5]:
for data in dict_df_all_states['vic']:
    print("*"*25, "DATE:", data['info'], "*"*25)
    print(data['df'].head(5))
#     print(data['df']['Sites'])

************************* DATE: 280824 *************************
          Sites  PM2.524-hr avg µg/m3  PM2.51-hr avg µg/m3 PM101-hr avg µg/m3  \
0    Alphington                   4.2                  6.5               27.6
1  Altona North                   2.7                  5.1                  -
2       Bendigo                   2.1                  2.6                  -
3      Box Hill                   4.4                  8.6                  -
4        Bright                   2.0                  2.3                  -

  CO1-hr avg ppm CO8-hr avg ppm SO21-hr avg ppb NO21-hr avg ppb  \
0           0.12            0.1               0               6
1              -              -            0.94               9
2              -              -               -               -
3              -              -               -               -
4              -              -               -               -

  O31-hr avg ppb Visibility1-hr avg km Air quality
0             26                    70        Good
1              -                     -        Good
2              -                     -        Good
3              -                     -        Good
4              -                     -        Good
************************* DATE: 290824 *************************
          Sites  PM2.524-hr avg µg/m3  PM2.51-hr avg µg/m3 PM101-hr avg µg/m3  \
0    Alphington                   8.0                  8.8               21.3
1  Altona North                   4.6                  4.7                  -
2       Bendigo                   3.2                  5.6                  -
3      Box Hill                   8.1                  8.5                  -
4        Bright                   2.2                  3.0                  -

  CO1-hr avg ppm CO8-hr avg ppm SO21-hr avg ppb NO21-hr avg ppb  \
0           0.13           0.12            0.12               9
1              -              -            0.13              12
2              -              -               -               -
3              -              -               -               -
4              -              -               -               -

  O31-hr avg ppb Visibility1-hr avg km Air quality
0             18                    70        Good
1              -                     -        Good
2              -                     -        Good
3              -                     -        Good
4              -                     -        Good

In [6]:
# AQ parameters
set_aq_para = {'pm2_5', 'pm10', 'co', 'no2', 'o3', 'so2'}

In [7]:
# dict max, min limit for AQ parameters
dict_aq_limits = {'min': {}, 'max': {}, 'unit':{}}
for para in set_aq_para:
    dict_aq_limits['min'][para] = 0
    dict_aq_limits['max'][para] = 1e3
    if para in {'o3', 'no2', 'so2'}:
        dict_aq_limits['unit'][para] = 'ppb'
    elif para == 'co':
        dict_aq_limits['unit'][para] = 'ppm'
    else:
        dict_aq_limits['unit'][para] = 'µg/m3'
    
dict_aq_limits['max']['so2'] = 2e3
dict_aq_limits['max']['co'] = 500

In [8]:
def clip_n_scale_aq_data(x, para, b_scale=False, scale=1):
    try:
        x = float(x)
#         print(x)
        if np.isnan(x):
            return 0
        else:
            return min(max(scale*x, dict_aq_limits['min'][para]), dict_aq_limits['max'][para])
    except:
        return 0

In [9]:
dict_df_all_states['vic'][0]['df'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sites                  28 non-null     object
 1   PM2.524-hr avg µg/m3   27 non-null     float64
 2   PM2.51-hr avg µg/m3    27 non-null     float64
 3   PM101-hr avg µg/m3     27 non-null     object
 4   CO1-hr avg ppm         28 non-null     object
 5   CO8-hr avg ppm         28 non-null     object
 6   SO21-hr avg ppb        28 non-null     object
 7   NO21-hr avg ppb        27 non-null     object
 8   O31-hr avg ppb         27 non-null     object
 9   Visibility1-hr avg km  28 non-null     object
 10  Air quality            27 non-null     object
dtypes: float64(2), object(9)
memory usage: 2.5+ KB

In [10]:
for data in dict_df_all_states['vic']:
    print(data['df'].columns)

Index(['Sites', 'PM2.524-hr avg µg/m3', 'PM2.51-hr avg µg/m3',
       'PM101-hr avg µg/m3', 'CO1-hr avg ppm', 'CO8-hr avg ppm',
       'SO21-hr avg ppb', 'NO21-hr avg ppb', 'O31-hr avg ppb',
       'Visibility1-hr avg km', 'Air quality'],
      dtype='object')
Index(['Sites', 'PM2.524-hr avg µg/m3', 'PM2.51-hr avg µg/m3',
       'PM101-hr avg µg/m3', 'CO1-hr avg ppm', 'CO8-hr avg ppm',
       'SO21-hr avg ppb', 'NO21-hr avg ppb', 'O31-hr avg ppb',
       'Visibility1-hr avg km', 'Air quality'],
      dtype='object')

In [11]:
# columns mapping
col_map = {'Sites': "site", 'PM2.524-hr avg µg/m3': 'pm2_5', 'PM2.51-hr avg µg/m3': 'pm2_5_hr',
       'PM101-hr avg µg/m3': 'pm10', 'CO1-hr avg ppm': 'co_hr', 'CO8-hr avg ppm': 'co',
       'SO21-hr avg ppb': 'so2', 'NO21-hr avg ppb': 'no2', 'O31-hr avg ppb': 'o3',
       'Visibility1-hr avg km': 'visibility', 'Air quality': 'aqc'}

for i in range(len(dict_df_all_states['vic'])):
    curr_date = dict_df_all_states['vic'][i]['info']
    dict_df_all_states['vic'][i]['df'].rename(columns=col_map, inplace=True)
    dict_df_all_states['vic'][i]['df'].insert(1, column='date', 
                                              value=datetime.date(2000+int(curr_date[4:]), 
                                                                  int(curr_date[2:4]),
                                                                  int(curr_date[:2])))

In [12]:
dict_df_all_states['vic'][0]['df'].head(5)

,site,date,pm2_5,pm2_5_hr,pm10,co_hr,co,so2,no2,o3,visibility,aqc
0,Alphington,2024-08-28,4.2,6.5,27.6,0.12,0.1,0,6,26,70,Good
1,Altona North,2024-08-28,2.7,5.1,-,-,-,0.94,9,-,-,Good
2,Bendigo,2024-08-28,2.1,2.6,-,-,-,-,-,-,-,Good
3,Box Hill,2024-08-28,4.4,8.6,-,-,-,-,-,-,-,Good
4,Bright,2024-08-28,2.0,2.3,-,-,-,-,-,-,-,Good

In [13]:
type(dict_df_all_states['vic'][0]['df'].loc[0,'no2'])

int

In [14]:
dict_scale = {'nsw': {'set_aq_para': {'no2', 'so2', 'o3', 'o3_hr'},
                      'scale': 10},
              'qld': {'set_aq_para': {'no2', 'o3'},
                     'scale': 1e3}}

def clip_scale_df(state):
    for i in range(len(dict_df_all_states[state])):
        for j, row in dict_df_all_states[state][i]['df'].iterrows():
            for para in set_aq_para:
                b_scale = bool(state in dict_scale.keys())
                scale = 1
                if b_scale:
                    if para in dict_scale[state]['set_aq_para']:
                        scale = dict_scale[state]['scale']
                dict_df_all_states[state][i]['df'].loc[j, para] = clip_n_scale_aq_data(row[para], para,
                                                                              b_scale, scale)
#                                             inplace=True)

clip_scale_df('vic')

In [15]:
dict_df_all_states['vic'][0]['df'].head(5)

,site,date,pm2_5,pm2_5_hr,pm10,co_hr,co,so2,no2,o3,visibility,aqc
0,Alphington,2024-08-28,4.2,6.5,27.6,0.12,0.1,0.0,6.0,26.0,70,Good
1,Altona North,2024-08-28,2.7,5.1,0,-,0,0.94,9.0,0,-,Good
2,Bendigo,2024-08-28,2.1,2.6,0,-,0,0,0,0,-,Good
3,Box Hill,2024-08-28,4.4,8.6,0,-,0,0,0,0,-,Good
4,Bright,2024-08-28,2.0,2.3,0,-,0,0,0,0,-,Good

In [16]:
def save_state_aq_data(state):
    df_state = dict_df_all_states[state][0]['df']
    for i in range(1, len(dict_df_all_states[state])):
        df_state = pd.concat([df_state, dict_df_all_states[state][i]['df']])

    df_state.to_csv(data_path + '/'+state+'/'+state+'_aq_data.csv')

save_state_aq_data('vic')

### NSW

In [17]:
dict_df_all_states['nsw'] = extract_state_aq_data(data_path, 'nsw')

In [18]:
for data in dict_df_all_states['nsw']:
    print("*"*25, "DATE:", data['info'], "*"*25)
    print(data['df'].head(10))

************************* DATE: 290824 *************************
    Unnamed: 0               site    o3_hr       o3       no2  Visibility  \
0          NaN         Pollutants    Ozone    Ozone  Nitrogen  Visibility
1          NaN                NaN       O3       O3   dioxide        NEPH
2          NaN                NaN      NaN      NaN       NO2         NaN
3          NaN  Averaging Periods      max      max       max         max
4          NaN              Units   1-hour  rolling    1-hour      1-hour
5          NaN                NaN  average   4-hour   average     average
6          NaN                NaN     pphm  average      pphm     10-4m-1
7          NaN                NaN      NaN     pphm       NaN         NaN
8          NaN                NaN      NaN      NaN       NaN         NaN
9  Sydney East         Alexandria      3.1        3       2.3        0.13

         co      so2       pm10      pm2_5
0    Carbon   Sulfur  Particles  Particles
1  monoxide  dioxide       PM10      PM2.5
2        CO      SO2        NaN        NaN
3       max      max    24-hour    24-hour
4   rolling   1-hour    average    average
5    8-hour  average      μg/m3      μg/m3
6   average     pphm        NaN        NaN
7       ppm      NaN        NaN        NaN
8       NaN      NaN        NaN        NaN
9       0.1      NaN       15.2        3.1
************************* DATE: 280824 *************************
    Unnamed: 0               site    o3_hr       o3       no2  Visibility  \
0          NaN         Pollutants    Ozone    Ozone  Nitrogen  Visibility
1          NaN                NaN       O3       O3   dioxide        NEPH
2          NaN                NaN      NaN      NaN       NO2         NaN
3          NaN  Averaging Periods      max      max       max         max
4          NaN              Units   1-hour  rolling    1-hour      1-hour
5          NaN                NaN  average   4-hour   average     average
6          NaN                NaN     pphm  average      pphm     10-4m-1
7          NaN                NaN      NaN     pphm       NaN         NaN
8          NaN                NaN      NaN      NaN       NaN         NaN
9  Sydney East         Alexandria      3.1        3       2.3        0.13

         co      so2       pm10      pm2_5
0    Carbon   Sulfur  Particles  Particles
1  monoxide  dioxide       PM10      PM2.5
2        CO      SO2        NaN        NaN
3       max      max    24-hour    24-hour
4   rolling   1-hour    average    average
5    8-hour  average      μg/m3      μg/m3
6   average     pphm        NaN        NaN
7       ppm      NaN        NaN        NaN
8       NaN      NaN        NaN        NaN
9       0.1      NaN       15.2        3.1
************************* DATE: 240824 *************************
    Unnamed: 0               site     o3_hr        o3           no2  \
0          NaN         Pollutants  Ozone O3  Ozone O3  Nitrogen NO2
1          NaN                NaN       NaN       NaN       dioxide
2          NaN                NaN       NaN       NaN           NaN
3          NaN  Averaging Periods       max       max           max
4          NaN                NaN    1-hour   rolling        1-hour
5          NaN                NaN   average    4-hour       average
6          NaN              Units      pphm   average          pphm
7          NaN                NaN       NaN      pphm           NaN
8          NaN                NaN       NaN       NaN           NaN
9  Sydney East         Alexandria       2.6       2.4           3.1

   Visibility        co      so2       pm10      pm2_5
0  Visibility    Carbon   Sulfur  Particles  Particles
1        NEPH  monoxide  dioxide       PM10      PM2.5
2         NaN        CO      SO2        NaN        NaN
3         max       max      max    24-hour    24-hour
4      1-hour   rolling   1-hour    average    average
5     average    8-hour  average      μg/m3      μg/m3
6     10-4m-1   average     pphm        NaN        NaN
7         NaN       ppm      NaN        NaN        NaN
8         NaN       NaN      NaN        NaN        NaN
9        0.22       0.2      NaN        9.6        3.9
************************* DATE: 250824 *************************
    Unnamed: 0               site    o3_hr       o3       no2  Visibility  \
0          NaN         Pollutants    Ozone    Ozone  Nitrogen  Visibility
1          NaN                NaN       O3       O3   dioxide        NEPH
2          NaN                NaN      NaN      NaN       NO2         NaN
3          NaN  Averaging Periods      max      max       max         max
4          NaN              Units   1-hour  rolling    1-hour      1-hour
5          NaN                NaN  average   4-hour   average     average
6          NaN                NaN     pphm  average      pphm     10-4m-1
7          NaN                NaN      NaN     pphm       NaN         NaN
8          NaN                NaN      NaN      NaN       NaN         NaN
9  Sydney East         Alexandria      3.2      3.1         2        0.33

         co      so2       pm10      pm2_5
0    Carbon   Sulfur  Particles  Particles
1  monoxide  dioxide       PM10      PM2.5
2        CO      SO2        NaN        NaN
3       max      max    24-hour    24-hour
4   rolling   1-hour    average    average
5    8-hour  average      μg/m3      μg/m3
6   average     pphm        NaN        NaN
7       ppm      NaN        NaN        NaN
8       NaN      NaN        NaN        NaN
9       0.3      NaN        8.6        6.1
************************* DATE: 270824 *************************
    Unnamed: 0               site    o3_hr       o3       no2  Visibility  \
0          NaN         Pollutants    Ozone    Ozone  Nitrogen  Visibility
1          NaN                NaN       O3       O3   dioxide        NEPH
2          NaN                NaN      NaN      NaN       NO2         NaN
3          NaN  Averaging Periods      max      max       max         max
4          NaN              Units   1-hour  rolling    1-hour      1-hour
5          NaN                NaN  average   4-hour   average     average
6          NaN                NaN     pphm  average      pphm     10-4m-1
7          NaN                NaN      NaN     pphm       NaN         NaN
8          NaN                NaN      NaN      NaN       NaN         NaN
9  Sydney East         Alexandria      2.8      2.5       2.7        0.24

         co      so2       pm10      pm2_5
0    Carbon   Sulfur  Particles  Particles
1  monoxide  dioxide       PM10      PM2.5
2        CO      SO2        NaN        NaN
3       max      max    24-hour    24-hour
4   rolling   1-hour    average    average
5    8-hour  average      μg/m3      μg/m3
6   average     pphm        NaN        NaN
7       ppm      NaN        NaN        NaN
8       NaN      NaN        NaN        NaN
9       0.2      NaN         10        4.8
************************* DATE: 260824 *************************
    Unnamed: 0               site    o3_hr       o3       no2  Visibility  \
0          NaN         Pollutants    Ozone    Ozone  Nitrogen  Visibility
1          NaN                NaN       O3       O3   dioxide        NEPH
2          NaN                NaN      NaN      NaN       NO2         NaN
3          NaN  Averaging Periods      max      max       max         max
4          NaN              Units   1-hour  rolling    1-hour      1-hour
5          NaN                NaN  average   4-hour   average     average
6          NaN                NaN     pphm  average      pphm     10-4m-1
7          NaN                NaN      NaN     pphm       NaN         NaN
8          NaN                NaN      NaN      NaN       NaN         NaN
9  Sydney East         Alexandria      3.4      3.1       2.8        0.13

         co      so2       pm10      pm2_5
0    Carbon   Sulfur  Particles  Particles
1  monoxide  dioxide       PM10      PM2.5
2        CO      SO2        NaN        NaN
3       max      max    24-hour    24-hour
4   rolling   1-hour    average    average
5    8-hour  average      μg/m3      μg/m3
6   average     pphm        NaN        NaN
7       ppm      NaN        NaN        NaN
8       NaN      NaN        NaN        NaN
9       0.1      NaN        7.4          2

In [19]:
for i in range(len(dict_df_all_states['nsw'])):
    curr_date = dict_df_all_states['nsw'][i]['info']
    dict_df_all_states['nsw'][i]['df'].drop([j for j in range(9)], inplace=True)
    dict_df_all_states['nsw'][i]['df'].reset_index(inplace=True)
    dict_df_all_states['nsw'][i]['df'].drop(columns=["index", "Unnamed: 0"], inplace=True)
    dict_df_all_states['nsw'][i]['df'].insert(1, column='date', 
                                              value=datetime.date(2000+int(curr_date[4:]), 
                                                                  int(curr_date[2:4]),
                                                                  int(curr_date[:2])))

In [20]:
dict_df_all_states['nsw'][0]['df'].head(5)

,site,date,o3_hr,o3,no2,Visibility,co,so2,pm10,pm2_5
0,Alexandria,2024-08-29,3.1,3,2.3,0.13,0.1,NaN,15.2,3.1
1,Cook And Phillip,2024-08-29,2.7,2.6,3.5,0.13,0,NaN,13.4,5.3
2,Earlwood,2024-08-29,3.2,3.1,2.1,0.12,NaN,NaN,18.3,3.7
3,Lidcombe,2024-08-29,3.3,3.2,1.7,0.12,0.2,0,16.6,4.5
4,Macquarie Park,2024-08-29,3.4,3.4,1.8,0.1,0,0,13.4,2.6

In [21]:
clip_scale_df('nsw')

In [22]:
dict_df_all_states['nsw'][0]['df'].head(5)

,site,date,o3_hr,o3,no2,Visibility,co,so2,pm10,pm2_5
0,Alexandria,2024-08-29,3.1,30.0,23.0,0.13,0.1,0,15.2,3.1
1,Cook And Phillip,2024-08-29,2.7,26.0,35.0,0.13,0.0,0,13.4,5.3
2,Earlwood,2024-08-29,3.2,31.0,21.0,0.12,0,0,18.3,3.7
3,Lidcombe,2024-08-29,3.3,32.0,17.0,0.12,0.2,0.0,16.6,4.5
4,Macquarie Park,2024-08-29,3.4,34.0,18.0,0.1,0.0,0.0,13.4,2.6

In [23]:
save_state_aq_data('nsw')

### QLD

In [24]:
dict_df_all_states['qld'] = extract_state_aq_data(data_path, 'qld')

In [25]:
for i in range(len(dict_df_all_states['qld'])):
    aq_para = dict_df_all_states['qld'][i]['info']
#     dict_df_all_states['qld'][i].agg()